[submodule "lib/cowboy"]
	path = lib/cowboy
	url = https://github.com/ninenines/cowboy
[submodule "lib/cowlib"]
	path = lib/cowlib
	url = https://github.com/ninenines/cowlib.git
[submodule "lib/gproc"]
	path = lib/gproc
	url = https://github.com/uwiger/gproc.git
[submodule "lib/goldrush"]
	path = lib/goldrush
	url = https://github.com/DeadZen/goldrush
[submodule "lib/ranch"]
	path = lib/ranch
	url = https://github.com/ninenines/ranch
[submodule "lib/jsx"]
	path = lib/jsx
	url = https://github.com/talentdeficit/jsx
